<% if @like_post.any? %>
	<% @like_post.each do |like| %> 
		<%= render 'shared/article_filter', obj: like.article %>
	<% end %>
<% else %>
	<div class="alert alert-warning" role="alert">
		<h3> You dont have any liked post </h3>
	</div>
<% end %>